## Three Stock Monte

This exercise tests your ability to retrieve stock price data using the Alpaca API and simulate multiple portfolio compositions using Monte Carlo Simulation.

### Import Dependencies

In [14]:
# Import libraries and dependencies
import os
import pandas as pd
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation

In [15]:
# Load .env enviroment variables
from dotenv import load_dotenv
load_dotenv()

True

In [16]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

### Get Past ~4 Year's Worth of Stock Price Data via Alpaca API Call

In [17]:
# Set timeframe to "1Day"
timeframe = "1Day"

# Set start and end datetimes between now and 4 years ago.
start_date = pd.Timestamp("2017-05-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-05-01", tz="America/New_York").isoformat()

# Set the ticker information
tickers = ["T","NKE","XOM"]

# Get 4 year's worth of historical price data
# HINT: Set "limit" to at least 10000 so all ticker rows are captured from get_bars()
# YOUR CODE HERE!
df_ticker = api.get_bars(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df


# Display sample data
df_ticker.tail()

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2021-04-26 04:00:00+00:00,55.62,56.285,55.44,55.68,16034091,92919,55.853625,XOM
2021-04-27 04:00:00+00:00,56.01,56.630,55.81,56.41,19125056,115395,56.197130,XOM
2021-04-28 04:00:00+00:00,56.88,58.460,56.79,58.11,24647373,150114,58.000608,XOM
2021-04-29 04:00:00+00:00,58.92,59.480,58.15,58.94,26974804,156211,58.805819,XOM
2021-04-30 04:00:00+00:00,58.33,58.890,57.16,57.24,30431824,161270,57.741337,XOM

> Note: We're going to simulate five years of growth below, and so we might want to pull at least five years of data in order to do that. But we pulled four because of Alpaca's rate limits--we can only pull 1,000 rows per ticker at a time (approximately four years of data, with 252 tradable days per year). If we pull data with repeated calls in a `for` loop, however, we can get quite a few more years than what we've got above.

In [18]:
# Reorganize the DataFrame
# Separate ticker data
T = df_ticker[df_ticker["symbol"]=="T"].drop("symbol", axis=1)
NKE = df_ticker[df_ticker["symbol"]=="NKE"].drop("symbol", axis=1)
XOM = df_ticker[df_ticker["symbol"]=="XOM"].drop("symbol", axis=1)

# Concatenate the ticker DataFrames
df_ticker = pd.concat([T, NKE, XOM], axis=1, keys=["T","NKE","XOM"])

# Display sample data
df_ticker.head()

                               T                                             \
                            open   high    low  close    volume trade_count
timestamp
2017-05-01 04:00:00+00:00  39.68  39.70  39.06  39.10  24750447       95238
2017-05-02 04:00:00+00:00  39.14  39.22  38.88  38.95  24852467       86237
2017-05-03 04:00:00+00:00  38.94  38.98  38.15  38.40  33743554      113920
2017-05-04 04:00:00+00:00  38.41  38.41  37.63  38.01  31450002      118191
2017-05-05 04:00:00+00:00  38.08  38.71  38.03  38.56  21829853       82070

                                        NKE                ...            \
                                vwap   open   high    low  ...    volume
timestamp                                                  ...
2017-05-01 04:00:00+00:00  39.278779  55.43  55.45  54.98  ...   4881442
2017-05-02 04:00:00+00:00  38.996448  55.12  55.16  54.79  ...   7363885
2017-05-03 04:00:00+00:00  38.423685  55.17  55.30  54.40  ...   9486619
2017-05-04 04:00:00+00:00  37.965109  54.68  54.83  54.20  ...   6830628
2017-05-05 04:00:00+00:00  38.424403  54.41  54.50  53.56  ...  13379949

                                                    XOM                  \
                          trade_count       vwap   open     high    low
timestamp
2017-05-01 04:00:00+00:00       30491  55.201737  81.51  82.2100  81.48
2017-05-02 04:00:00+00:00       41589  54.967165  82.14  82.5900  81.90
2017-05-03 04:00:00+00:00       48477  54.622933  81.97  83.0699  81.91
2017-05-04 04:00:00+00:00       39260  54.501544  82.29  82.3600  81.40
2017-05-05 04:00:00+00:00       57959  53.889567  81.63  82.2350  81.61


                           close    volume trade_count       vwap
timestamp
2017-05-01 04:00:00+00:00  82.06   8664579       49226  81.941004
2017-05-02 04:00:00+00:00  82.05   9102893       54234  82.197909
2017-05-03 04:00:00+00:00  82.70  10289447       57309  82.625679
2017-05-04 04:00:00+00:00  81.64  16165093       86289  81.729800
2017-05-05 04:00:00+00:00  82.02  10212004       59397  81.932657

[5 rows x 21 columns]

### Simulate five year portfolio growth with evenly-distributed stock investments

In [19]:
# Configure a Monte Carlo simulation to forecast five years cumulative returns
# YOUR CODE HERE!
MC_fiveyear = MCSimulation(
    portfolio_data = df_ticker,
    weights = [.60,.40],
    num_simulation = 500,
    num_trading_days = 252*5
)

# Print the simulation input data
MC_even_dist.portfolio_data.head()

NameError: name 'MC_even_dist' is not defined

In [ ]:
# Run a Monte Carlo simulation to forecast five years cumulative returns
# YOUR CODE HERE!

In [ ]:
# Plot simulation outcomes
# YOUR CODE HERE!

In [ ]:
# Plot probability distribution and confidence intervals
# YOUR CODE HERE!

In [ ]:
# Fetch summary statistics from the Monte Carlo simulation results
# YOUR CODE HERE!

# Print summary statistics
# YOUR CODE HERE!

In [ ]:
# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $15,000 investments stocks
# YOUR CODE HERE!

# Print results
# YOUR CODE HERE!

### Simulate five year portfolio growth with 60% AT&T stock

In [ ]:
# Configure a Monte Carlo simulation to forecast five years cumulative returns with 60% AT&T stock
# YOUR CODE HERE!

# Print the simulation input data
MC_att.portfolio_data.head()

In [ ]:
# Run a Monte Carlo simulation to forecast five years cumulative returns with 60% AT&T stock
# YOUR CODE HERE!

In [ ]:
# Plot simulation outcomes
# YOUR CODE HERE!

In [ ]:
# Plot probability distribution and confidence intervals
# YOUR CODE HERE!

In [ ]:
# Fetch summary statistics from the Monte Carlo simulation results
# YOUR CODE HERE!

# Print summary statistics
# YOUR CODE HERE!

In [ ]:
# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $15,000 investments
# YOUR CODE HERE!

# Print results
# YOUR CODE HERE!

### Simulate five year portfolio growth with 60% Nike stock

In [ ]:
# Configure a Monte Carlo simulation to forecast five years cumulative returns with 60% Nike stock
# YOUR CODE HERE!

# Printing the simulation input data
MC_nike.portfolio_data.head()

In [ ]:
# Run a Monte Carlo simulation to forecast five years cumulative returns with 60% Nike stock
# YOUR CODE HERE!

In [ ]:
# Plot simulation outcomes
# YOUR CODE HERE!

In [ ]:
# Plot probability distribution and confidence intervals
# YOUR CODE HERE!

In [ ]:
# Fetch summary statistics from the Monte Carlo simulation results
# YOUR CODE HERE!

# Print summary statistics
# YOUR CODE HERE!

In [ ]:
# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $15,000 investments
# YOUR CODE HERE!

# Print results
# YOUR CODE HERE!

### Simulate five year portfolio growth with 60% Exxon stock

In [ ]:
# Configuring a Monte Carlo simulation to forecast five years cumulative returns
# YOUR CODE HERE!

# Printing the simulation input data
MC_exxon.portfolio_data

In [ ]:
# Run a Monte Carlo simulation to forecast five years cumulative returns with 60% Exxon stock
# YOUR CODE HERE!

In [ ]:
# Plot simulation outcomes
# YOUR CODE HERE!

In [ ]:
# Plot probability distribution and confidence intervals
# YOUR CODE HERE!

In [ ]:
# Fetch summary statistics from the Monte Carlo simulation results
# YOUR CODE HERE!

# Print summary statistics
# YOUR CODE HERE!

In [ ]:
# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $15,000 investments
# YOUR CODE HERE!

# Print results
# YOUR CODE HERE!

### Summarize findings across all 4 simulations

YOUR ANSWER HERE!