# Risky Business

Harold has been boasting about his recent cryptocurrency returns. He's even bet you five bucks that his trading algorithm has made his returns better than yours. Calculate the standard deviation and sharpe ratio for each your portfolios to determine which portfolio is the better investment based off of the greatest risk to reward ratio.

In [3]:
import pandas as pd
import numpy as np
from pathlib import Path
%matplotlib inline

### Read in data

In [5]:
harold_portfolio_path = Path("../../Resources/harold_portfolio.csv")
my_portfolio_path = Path("../../Resources/my_portfolio.csv")

In [2]:
harold_portfolio_path = Path("../../Resources/harold_portfolio.csv")
my_portfolio_path = Path("../../Resources/my_portfolio.csv")

# Read in data
harold_portfolio = pd.read_csv(harold_portfolio_path, parse_dates=True, infer_datetime_format=True)
my_portfolio = pd.read_csv(my_portfolio_path, parse_dates=True, infer_datetime_format=True)

# Drop na
harold_portfolio = harold_portfolio.dropna()
my_portfolio = my_portfolio.dropna()

# Set Date as index
harold_portfolio = harold_portfolio.set_index('Date')
my_portfolio = my_portfolio.set_index('Date')

harold_portfolio.head()

,BTC,BTT,DOGE,ETH,LTC,XRP,SOLVE,XLM,TRON,ZIL
Date,,,,,,,,,,
2019-05-20,8118.39,0.001187,0.003041,261.09,95.06,0.398003,0.338667,0.135545,0.028509,0.017992
2019-05-19,8200.00,0.001056,0.003178,234.03,86.65,0.417700,0.300430,0.141485,0.029277,0.019170
2019-05-18,7262.40,0.000993,0.003005,244.59,89.88,0.372736,0.287630,0.128833,0.026823,0.017685
2019-05-17,7363.69,0.000957,0.002962,264.39,95.75,0.386193,0.259506,0.126562,0.027220,0.017892
2019-05-16,7878.96,0.000885,0.003168,249.00,102.26,0.419707,0.223316,0.137283,0.028857,0.018725

In [6]:
harold_portfolio = pd.read_csv(harold_portfolio_path, parse_dates=True, infer_datetime_format=True)

In [7]:

my_portfolio = pd.read_csv(my_portfolio_path, parse_dates=True, infer_datetime_format=True)

In [8]:
my_portfolio.head()

         Date      BTC      DOGE     ETH     LTC       XRP       XLM
0  2019-05-20  8200.00  0.003041  261.09   95.06  0.398003  0.135545
1  2019-05-19  7262.40  0.003178  234.03   86.65  0.417700  0.141485
2  2019-05-18  7363.69  0.003005  244.59   89.88  0.372736  0.128833
3  2019-05-17  7878.96  0.002962  264.39   95.75  0.386193  0.126562
4  2019-05-16  8203.32  0.003168  249.00  102.26  0.419707  0.137283

In [9]:
harold_portfolio.head()

,Date,BTC,BTT,DOGE,ETH,LTC,XRP,SOLVE,XLM,TRON,ZIL
0,2019-05-20,8118.39,0.001187,0.003041,261.09,95.06,0.398003,0.338667,0.135545,0.028509,0.017992
1,2019-05-19,8200.00,0.001056,0.003178,234.03,86.65,0.417700,0.300430,0.141485,0.029277,0.019170
2,2019-05-18,7262.40,0.000993,0.003005,244.59,89.88,0.372736,0.287630,0.128833,0.026823,0.017685
3,2019-05-17,7363.69,0.000957,0.002962,264.39,95.75,0.386193,0.259506,0.126562,0.027220,0.017892
4,2019-05-16,7878.96,0.000885,0.003168,249.00,102.26,0.419707,0.223316,0.137283,0.028857,0.018725

### Calculate daily returns

In [12]:
# Calculate daily returns for each portfolio
harold_portfolio_return=harold_portfolio.pct_change().dropna()

TypeError: unsupported operand type(s) for /: 'str' and 'str'

### `Concat` portfolios into one DataFrame

In [4]:
# Concat returns DataFrames

### Calculate `std dev` for all data

In [5]:
# Calculate std dev

### Calculate `sharpe ratio` for all data

In [6]:
# Calculate sharpe ratio

### Plot Sharpe Ratios

In [7]:
# Plot

### How many smart investments did Harold make compared to risky investments? How many did you make?

*Your answer here:*

### Which cryptos have been the smartest investment?

*Your answer here:*

### Calculate annualized std dev for each portfolio individually

In [8]:
# Calculate std dev for all investments for each portfolio

### Calculate the sharpe ratios for each individual portfolio

In [9]:
# Calculate sharpe ratio

### Average sharpe ratios for each portfolio and output to screen

In [10]:
# Averaging sharpe ratios

### Compare Sharpe Ratios Averages

In [11]:
# Use comparison operator to determine if Harold's sharpe ratio avg is greater

### Which portfolio is the smartest investment, based off of risk to reward ratio?

*Your answer here:*