In [1]:
our_list=[]

In [4]:
our_list.append(1)

In [7]:
print(our_list[0])

1

In [8]:
our_list.append('hello')

In [9]:
print(our_list)

[1, 'hello']

In [10]:
our_list.append(84)

In [11]:
our_list.append("False")

In [12]:
our_list.append('wolrd')

In [13]:
print(our_list)

[1, 'hello', 84, 'False', 'wolrd']

In [14]:
print(f"Print `our_list`: {our_list}")

Print `our_list`: [1, 'hello', 84, 'False', 'wolrd']

In [15]:
one_to_ten=[1,2,3,4,5,6,7,8,9,10]

In [16]:
print(one_to_ten)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
print(one_to_ten[4])

5

print(f"Print the 4th element fron 'one-_to_ten':{one_to_ten[3]}")

In [21]:
print(one_to_ten[7])

8

In [22]:
print(f"Print the 4th element from `one_to_ten`: {one_to_ten[3]}")

Print the 4th element from `one_to_ten`: 4

In [23]:
print(f"Print the 4th element from'one_to_ten':{one_to_ten[3]}")

Print the 4th element from'one_to_ten':4

In [26]:
print(f"Print the 7th element from 'one_to_ten':{one_to_ten[6]} ")

Print the 7th element from 'one_to_ten':7

In [34]:
##New List Num_List
num_list = [2, 65, 3, 7, 39, 22, 11, 94, 299, 9, 20, 21, 51, 37]

In [37]:
print('Numbers greater than 50:')
for number in num_list:
    if number>50:
        print(number)

Numbers greater than 50:
65
94
299
51

In [36]:
print("Numbers greater than 50:")
for number in num_list:
    if number > 50:
        print(number)

Numbers greater than 50:
65
94
299
51

In [38]:
print(num_list[11])

21

In [41]:
print('Index of first occurance of the number 11:')
index=0
for number in num_list:
    if number ==11:
        print(index)
    index+=1

Index of first occurance of the number 11:
6

In [44]:
print("Sum of all numbers:")
sum = 0
for number in num_list:
    sum += number
print(sum)

Sum of all numbers:
680

In [45]:
print('Sum of all numbers:')
sum=0
for number in num_list:
    sum+=number
print(sum)

Sum of all numbers:
680

In [47]:
print('Sum of all numbers greater than 50:')
sum=0
for number in num_list:
    if number>50:
        sum+=number
print(sum)

Sum of all numbers greater than 50:
509

In [50]:
print("Sum of all numbers greater than 50:")
sum = 0
for number in num_list:
    if number > 50:
        sum += number
print(sum)

Sum of all numbers greater than 50:
509

In [49]:
print('Sum of all even numbers:')
sum=0
for number in num_list:
    if number %2==0:
        sum += number
print(sum)

Sum of all even numbers:
138

## FRUIT LIST

In [8]:
fruit = [
  "Apple", "Orange", "Banana", "Pomelo", "Apple", "Kiwi", "Peach", "Banana", "Grape", "Tomato",
  "Kiwi", "Apple", "Watermelon", "Lemon", "Pomelo", "Apple", "Banana", "Peach", "Apricot", "Grape"]
print(len(fruit))

fruit.extend(["Mango","Lychee"])

print(len(fruit))

print(fruit)

20
22
['Apple', 'Orange', 'Banana', 'Pomelo', 'Apple', 'Kiwi', 'Peach', 'Banana', 'Grape', 'Tomato', 'Kiwi', 'Apple', 'Watermelon', 'Lemon', 'Pomelo', 'Apple', 'Banana', 'Peach', 'Apricot', 'Grape', 'Mango', 'Lychee']

In [9]:
print("Number of times 'Apple' does not appears in list:")
count=0
for fruit in fruits:
    if fruit !="Apple":
        count+=1
print(count)

Number of times 'Apple' does not appears in list:

NameError: name 'fruits' is not defined

In [11]:
fruit=['Apple', 'Orange', 'Banana', 'Pomelo', 'Apple', 'Kiwi', 'Peach', 'Banana', 'Grape', 'Tomato', 'Kiwi', 'Apple', 'Watermelon', 'Lemon', 'Pomelo', 'Apple', 'Banana', 'Peach', 'Apricot', 'Grape', 'Mango', 'Lychee']

In [12]:
print("Number of times 'Apple' appears in the list:")
count = 0
for fruit in fruits:
    if fruit == "Apple":
        count += 1
print(count)

Number of times 'Apple' appears in the list:

NameError: name 'fruits' is not defined

In [4]:
print('Number of times"Peach"appears in the list':)
count+0
for fruit in fruits"
    if fruit =="Peach":
        count+=1
    print(count)

SyntaxError: invalid syntax (3342103427.py, line 1)

In [15]:
fruits=['Apple', 'Orange', 'Banana', 'Pomelo', 'Apple', 'Kiwi', 'Peach', 'Banana', 'Grape', 'Tomato', 'Kiwi', 'Apple', 'Watermelon', 'Lemon', 'Pomelo', 'Apple', 'Banana', 'Peach', 'Apricot', 'Grape', 'Mango', 'Lychee']

In [19]:
print('Number of times"Peach"appears in the list:')
count=0
for fruit in fruits:
    if fruit =="Peach":
        count+=1
print(count)

Number of times"Peach"appears in the list:
2

In [21]:
print("Number of times 'Kiwi' appears in the list:")
count=0
for fruit in fruits:
    if fruit=='Kiwi':
        count=+1
print(count)

Number of times 'Kiwi' appears in the list:
1

In [26]:
print("Number of fruits that start with 'P':")
count=0
for fruit in fruits:
    if fruit[0]=='P' or fruit[0]=='p':
        count+=1
print(count)

Number of fruits that start with 'P':
4

NameError: name 'fruit_list' is not defined

In [29]:
fruits=['Apple', 'Orange', 'Banana', 'Pomelo', 'Apple', 'Kiwi', 'Peach', 'Banana', 'Grape', 'Tomato', 'Kiwi', 'Apple', 'Watermelon', 'Lemon', 'Pomelo', 'Apple', 'Banana', 'Peach', 'Apricot', 'Grape', 'Mango', 'Lychee']
print("Original List:",fruits)
res=[*set(fruits)]
print('List after removing duplicate elements:',res)

Original List: ['Apple', 'Orange', 'Banana', 'Pomelo', 'Apple', 'Kiwi', 'Peach', 'Banana', 'Grape', 'Tomato', 'Kiwi', 'Apple', 'Watermelon', 'Lemon', 'Pomelo', 'Apple', 'Banana', 'Peach', 'Apricot', 'Grape', 'Mango', 'Lychee']
List after removing duplicate elements: ['Orange', 'Tomato', 'Pomelo', 'Peach', 'Lemon', 'Lychee', 'Kiwi', 'Grape', 'Banana', 'Apricot', 'Mango', 'Apple', 'Watermelon']

In [30]:
print(len(fruits))

22

In [32]:
unique_fruits =  ['Orange', 'Tomato', 'Pomelo', 'Peach', 'Lemon', 'Lychee', 'Kiwi', 'Grape', 'Banana', 'Apricot', 'Mango', 'Apple', 'Watermelon']

In [33]:
print(len(unique_fruits))

13